<div class="container">
  <h2 class="text-center"><%= @user.first_name %></h2>
  <div class="d-flex justify-content-around">
    <div>
      <h5 class="text-center">Reservations</h5>
      <ul>
        <% @user.reservations.each do |reservation|%>
          <%= link_to reservation_path(reservation) do %>
            <li> <%= reservation.restaurant.name %>, <%=reservation.scheduled.to_s.slice(5,5)%> at <%=reservation.scheduled.to_s.slice(10,6) %>
            <%= link_to "<i class='fas fa-trash'></i>".html_safe, reservation_path(reservation),
            method: :delete, data: { confirm: "Are you sure?" } %> </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div>
      <h5 class="text-center">Restaurants</h5>
      <%= link_to 'Add Restaurant', new_restaurant_path, class: 'btn btn-primary m-3' %>
      <ul>
        <% @user.restaurants.each do |restaurant|%>
          <%= link_to restaurant_path(restaurant) do %>
            <li><%= restaurant.name %>
              <%= link_to "<i class='fas fa-trash'></i>".html_safe, restaurant_path(restaurant),
            method: :delete, data: { confirm: "Are you sure?" } %> </li>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
