<div class="container">
  <h2 class="text-center"><%= @user.first_name %></h2>
  <div class="d-flex justify-content-around">
    <div>
      <h5 class="text-center">Reservations</h5>
      <ul>
        <% @user.reservations.each do |reservation|%>
          <%= link_to reservation_path(reservation) do %>
            <li> <%= reservation.restaurant.name %>, <%=reservation.date.to_s.slice(5,5)%> at <%=reservation.time.to_s.slice(11,5) %>
            <%= link_to "<i class='fas fa-trash'></i>".html_safe, reservation_path(reservation),
            method: :delete, data: { confirm: "Are you sure?" } %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div>
      <h5 class="text-center">Restaurants</h5>
      <%= link_to 'Add Restaurant', new_restaurant_path, class: 'btn btn-primary m-3' %>
      <ul>
        <% @user.restaurants.each do |restaurant|%>
          <%= link_to restaurant_path(restaurant) do %>
            <li>
            <%= restaurant.name %>
            <%= link_to "<i class='fas fa-trash'></i>".html_safe, restaurant_path(restaurant),
            method: :delete, data: { confirm: "Are you sure?" } %>
            <i class='fas fa-wrench' data-toggle="modal" data-target="#exampleModal"></i>
            <i class="fas fa-user-friends"></i>: <%= restaurant.reservations.count %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New reservation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="py-3 w-75 m-auto">
          <%= simple_form_for @restaurant do |f| %>
            <%= f.input :name %>
            <%= f.input :address %>
            <%= f.input :category %>
            <%= f.input :price_range, as: :select, collection: ['$', '$$', '$$$', '$$$$', '$$$$$'] %>
            <%= f.input :capacity %>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
          Close
        </button>
          <%= f.submit "save", class: "btn btn-primary" %>
          <% end %>
      </div>
    </div>
  </div>
  </div>
</div>
