<h1>Contact page!</h1>
<%= simple_form_for :form do |f| %>
  <%= f.input :email %>
  <%= f.input :comments %>
  <%= f.button :submit, 'submit', class: 'btn btn-primary'%>
<% end %>
<%= link_to "Go Home", root_path %>
