<div class="container">
  <h1>New reservation!</h1>
  <div class="py-3">
      <%= simple_form_for [@restaurant, @reservation] do |f| %>
        <%= f.input :scheduled %>
        <%= f.input :number_of_people %>
        <%= f.submit "submit", class: "btn btn-primary" %>
      <% end %>
  </div>
  <%= link_to root_path do %>
    <p class="btn btn-dark">Go back</p>
  <% end %>
</div>
