<div class="container text-center">
  <h2><%= @reservation.user.first_name %>'s reservation at <%= @reservation.restaurant.name %></h2>
    <p class="mt-4"><i class="far fa-calendar-alt"></i> <%=@reservation.date.to_s.slice(5,5)%></p>
    <p><i class="far fa-clock"></i> <%=@reservation.time.to_s.slice(11,5)%></p>
    <p><i class="fas fa-user-friends"></i> <%= @reservation.number_of_people %></p>

  <%= link_to "Edit reservation", edit_reservation_path(@reservation), class: 'btn btn-dark' %>
  <%= link_to "Back", user_path(current_user), class: 'btn btn-danger' %>

</div>
