<div class="container text-center">
  <h2><%= @reservation.user.first_name %>'s reservation at <%= @reservation.restaurant.name %></h2>
  <div class="d-flex justify-content-center">
    <%= image_tag @restaurant.image, {id: 'reservation-image', class: 'mr-3 rounded'}  %>
      <div
      class=""
      id="map"
      style="width: 25%;
      height: auto;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <p class="mt-4"><i class="far fa-calendar-alt"></i> <%=@reservation.date.to_s.slice(5,5)%></p>
    <p><i class="far fa-clock"></i> <%=@reservation.time.to_s.slice(11,5)%></p>
    <p><i class="fas fa-user-friends"></i> <%= @reservation.number_of_people %></p>

  <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
  Edit reservation
</button>
  <%= link_to "Back", user_path(current_user), class: 'btn btn-danger' %>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New reservation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="py-3 w-75 m-auto">
          <%= simple_form_for @reservation do |f| %>
            <%= f.input :time, as: :time %>
            <%= f.input :number_of_people, collection: 1..@restaurant.capacity %>
        </div>

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
          Close
        </button>
          <%= f.submit "Save", class: "btn btn-primary" %>
          <% end %>
      </div>
    </div>
  </div>
  </div>
</div>
