<div class="container mt-4 text-center">
  <h1 class=""><%= @restaurant.name %></h1>
  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
  <div class="d-flex justify-content-around mb-4">
    <p>rating: <%= @restaurant.rating %></p>
    <p>price: <%= @restaurant.price_range %></p>
    <p>category: <%= @restaurant.category %></p>
    <p>address: <%= @restaurant.address %></p>
    <p>capacity: <%= @restaurant.capacity %></p>
  </div>
  <div>
    <p><%= @restaurant.description %></p>
  </div>
  <%= link_to 'Make Reservation', new_restaurant_reservation_path(@restaurant), class: 'btn btn-dark' %>
  <% if user_signed_in? %>
    <%= link_to "Back", user_path(current_user), class: 'btn btn-danger' %>
  <% else %>
    <%= link_to "Back", restaurants_path, class: 'btn btn-danger' %>
  <% end %>
</div>
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
