
<div class="container mt-4 text-center">
  <h1 class=""><%= @restaurant.name %></h1>
  <div class="d-flex justify-content-around mb-4">
    <p>rating: <%= @restaurant.rating %></p>
    <p>price: <%= @restaurant.price_range %></p>
    <p>category: <%= @restaurant.category %></p>
    <p>address: <%= @restaurant.address %></p>
  </div>
  <div class="">
    <p><%= @restaurant.description %></p>
  </div>

  <% message = user_signed_in? ?  'Make Reservation' : 'Login to make a Reservation' %>

  <%= link_to message, new_restaurant_reservation_path(@restaurant), class: 'btn btn-dark' %>
</div>
