<div class="container mt-4 text-center">
  <h1 class=""><%= @restaurant.name %></h1>
    <%= image_tag @restaurant.image, {id: 'restaurant-image', class: 'pb-4'} unless @restaurant.image.nil? %>
  <div class="d-flex justify-content-around mb-4 pt-3 border border-dark">
    <p>Rating: <%= @restaurant.rating %> <i class="fas fa-star"></i></p>
    <p>Price: <%= "$" * @restaurant.price_range.to_i %></p>
    <p>Category: <%= @restaurant.category %></p>
    <p>Address: <%= @restaurant.address %></p>
    <p>Capacity: <%= @restaurant.capacity %></p>
  </div>
  <% if policy(@restaurant).update? %>
    <h2>Reservations</h2>
      <% @restaurant.reservations.each do |reservation| %>
        <p class="text-center">
          <i class="fas fa-star"></i> Name: <%= reservation.user.first_name %>
          <i class="far fa-calendar-alt"></i>
          <%= reservation.date.to_s.slice(5,5) %>
          <i class="far fa-clock"></i> <%= reservation.time.to_s.slice(11,5)%>
          <i class="fas fa-user-friends"></i> <%= reservation.number_of_people %>
        </p>
    <% end %>
  <% end %>
  <div class="">
    <div>
      <h5><u>Description</u></h5>
      <p class="text-left"><%= @restaurant.description %></p>
    </div>
    <div
      class=""
      id="map"
      style="width: 100%;
      height: 300px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <% message = user_signed_in? ?  'Make Reservation' : 'Login to make a Reservation' %>

    <div class="m-3 justify-content-center">
      <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
        <%= message %>
      </button>
    </div>

  <% if user_signed_in? %>
    <%= link_to "Back", user_path(current_user), class: 'btn btn-outline-secondary mb-3' %>
  <% else %>
    <%= link_to "Back", restaurants_path, class: 'btn btn-outline-secondary mb-3' %>
  <% end %>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New reservation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="py-3 w-50 m-auto">
          <%= simple_form_for [@restaurant, @reservation] do |f| %>
            <%= f.input :date, as: :date, html5: true %>
            <%= f.input :time, as: :time %>
            <%= f.input :number_of_people, collection: 1..@restaurant.capacity %>
        </div>

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">
          Close
        </button>
          <%= f.submit "Reserve", class: "btn btn-primary" %>
          <% end %>
      </div>
    </div>
  </div>
  </div>
</div>

<script>
  const changeSelector = (freeSpots) => {
    const select = document.getElementById("reservation_number_of_people");
    select.innerHTML = ""
    for (let i = 0; i < freeSpots; i++) {
      opt = document.createElement("option");
      opt.value = i + 1;
      opt.text = i + 1;
      select.add(opt);
    };
  };

  const date = document.getElementById("reservation_date")
  date.addEventListener("change", (event) => {
    const datatest = { date: date.value }
    console.log(datatest)
     Rails.ajax({
       type: "GET",
       url: "/restaurants/<%= @restaurant.id %>/calc_occupation",
       data: date.value,
       success: changeSelector
     })
   })

</script>
